.cabecera {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.filtros {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.enviar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
}

div.filter_items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    margin: 10px 0px;
}